<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rondaful.cloud.transorder.mapper.SysOrderPackageMapper">
    
    <resultMap id="BaseResultMap" type="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sys_order_id" jdbcType="VARCHAR" property="sysOrderId" />
        <result column="source_order_id" jdbcType="VARCHAR" property="sourceOrderId" />
        <result column="order_track_id" jdbcType="VARCHAR" property="orderTrackId" />
        <result column="package_status" jdbcType="VARCHAR" property="packageStatus" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="delivery_warehouse_id" jdbcType="INTEGER" property="deliveryWarehouseId" />
        <result column="delivery_warehouse_code" jdbcType="VARCHAR" property="deliveryWarehouseCode" />
        <result column="delivery_warehouse" jdbcType="VARCHAR" property="deliveryWarehouse" />
        <result column="shipping_carrier_used_code" jdbcType="VARCHAR" property="shippingCarrierUsedCode" />
        <result column="shipping_carrier_used" jdbcType="VARCHAR" property="shippingCarrierUsed" />
        <result column="delivery_method_code" jdbcType="VARCHAR" property="deliveryMethodCode" />
        <result column="delivery_method" jdbcType="VARCHAR" property="deliveryMethod" />
        <result column="logistics_strategy" jdbcType="VARCHAR" property="logisticsStrategy" />
        <result column="amazon_carrier_name" jdbcType="VARCHAR" property="amazonCarrierName" />
        <result column="amazon_shipping_method" jdbcType="VARCHAR" property="amazonShippingMethod" />
        <result column="ebay_carrier_name" jdbcType="VARCHAR" property="ebayCarrierName" />
        <result column="actual_ship_cost" jdbcType="DECIMAL" property="actualShipCost" />
        <result column="additional_freight_rate" jdbcType="DECIMAL" property="additionalFreightRate" />
        <result column="estimate_ship_cost" jdbcType="DECIMAL" property="estimateShipCost" />
        <result column="ship_track_number" jdbcType="VARCHAR" property="shipTrackNumber" />
        <result column="ship_order_id" jdbcType="VARCHAR" property="shipOrderId" />
        <result column="reference_id" jdbcType="VARCHAR" property="referenceId" />
        <result column="warehouse_ship_exception" jdbcType="VARCHAR" property="warehouseShipException" />
        <result column="operate_status" jdbcType="VARCHAR" property="operateStatus" />
        <result column="operate_order_track_id" jdbcType="VARCHAR" property="operateOrderTrackId" />
        <result column="operate_sys_order_id" jdbcType="VARCHAR" property="operateSysOrderId" />
        <result column="is_show" jdbcType="VARCHAR" property="isShow" />
        <result column="creater" jdbcType="VARCHAR" property="creater" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>
    
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        <result column="calculate_fee_info" jdbcType="LONGVARCHAR" property="calculateFeeInfo" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, sys_order_id, source_order_id, order_track_id, package_status, delivery_time, 
        delivery_warehouse_id, delivery_warehouse_code, delivery_warehouse, shipping_carrier_used_code, 
        shipping_carrier_used, delivery_method_code, delivery_method, logistics_strategy, 
        amazon_carrier_name, amazon_shipping_method, ebay_carrier_name, actual_ship_cost, 
        additional_freight_rate, estimate_ship_cost, ship_track_number, ship_order_id, reference_id, 
        warehouse_ship_exception, operate_status, operate_order_track_id, operate_sys_order_id, 
        is_show, creater, create_time, modifier, modified_time
    </sql>
    
    <sql id="Blob_Column_List">
        calculate_fee_info
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from tb_sys_order_package
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_sys_order_package
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <insert id="insert" parameterType="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        insert into tb_sys_order_package (id, sys_order_id, source_order_id, 
            order_track_id, package_status, delivery_time, 
            delivery_warehouse_id, delivery_warehouse_code, 
            delivery_warehouse, shipping_carrier_used_code, 
            shipping_carrier_used, delivery_method_code, 
            delivery_method, logistics_strategy, amazon_carrier_name, 
            amazon_shipping_method, ebay_carrier_name, 
            actual_ship_cost, additional_freight_rate, 
            estimate_ship_cost, ship_track_number, ship_order_id, 
            reference_id, warehouse_ship_exception, 
            operate_status, operate_order_track_id, operate_sys_order_id, 
            is_show, creater, create_time, 
            modifier, modified_time, calculate_fee_info
            )
        values (#{id,jdbcType=BIGINT}, #{sysOrderId,jdbcType=VARCHAR}, #{sourceOrderId,jdbcType=VARCHAR}, 
            #{orderTrackId,jdbcType=VARCHAR}, #{packageStatus,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, 
            #{deliveryWarehouseId,jdbcType=INTEGER}, #{deliveryWarehouseCode,jdbcType=VARCHAR}, 
            #{deliveryWarehouse,jdbcType=VARCHAR}, #{shippingCarrierUsedCode,jdbcType=VARCHAR}, 
            #{shippingCarrierUsed,jdbcType=VARCHAR}, #{deliveryMethodCode,jdbcType=VARCHAR}, 
            #{deliveryMethod,jdbcType=VARCHAR}, #{logisticsStrategy,jdbcType=VARCHAR}, #{amazonCarrierName,jdbcType=VARCHAR}, 
            #{amazonShippingMethod,jdbcType=VARCHAR}, #{ebayCarrierName,jdbcType=VARCHAR}, 
            #{actualShipCost,jdbcType=DECIMAL}, #{additionalFreightRate,jdbcType=DECIMAL}, 
            #{estimateShipCost,jdbcType=DECIMAL}, #{shipTrackNumber,jdbcType=VARCHAR}, #{shipOrderId,jdbcType=VARCHAR}, 
            #{referenceId,jdbcType=VARCHAR}, #{warehouseShipException,jdbcType=VARCHAR}, 
            #{operateStatus,jdbcType=VARCHAR}, #{operateOrderTrackId,jdbcType=VARCHAR}, #{operateSysOrderId,jdbcType=VARCHAR}, 
            #{isShow,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
            #{modifier,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{calculateFeeInfo,jdbcType=LONGVARCHAR}
            )
    </insert>
    
    <insert id="insertSelective" parameterType="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        insert into tb_sys_order_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sysOrderId != null">
                sys_order_id,
            </if>
            <if test="sourceOrderId != null">
                source_order_id,
            </if>
            <if test="orderTrackId != null">
                order_track_id,
            </if>
            <if test="packageStatus != null">
                package_status,
            </if>
            <if test="deliveryTime != null">
                delivery_time,
            </if>
            <if test="deliveryWarehouseId != null">
                delivery_warehouse_id,
            </if>
            <if test="deliveryWarehouseCode != null">
                delivery_warehouse_code,
            </if>
            <if test="deliveryWarehouse != null">
                delivery_warehouse,
            </if>
            <if test="shippingCarrierUsedCode != null">
                shipping_carrier_used_code,
            </if>
            <if test="shippingCarrierUsed != null">
                shipping_carrier_used,
            </if>
            <if test="deliveryMethodCode != null">
                delivery_method_code,
            </if>
            <if test="deliveryMethod != null">
                delivery_method,
            </if>
            <if test="logisticsStrategy != null">
                logistics_strategy,
            </if>
            <if test="amazonCarrierName != null">
                amazon_carrier_name,
            </if>
            <if test="amazonShippingMethod != null">
                amazon_shipping_method,
            </if>
            <if test="ebayCarrierName != null">
                ebay_carrier_name,
            </if>
            <if test="actualShipCost != null">
                actual_ship_cost,
            </if>
            <if test="additionalFreightRate != null">
                additional_freight_rate,
            </if>
            <if test="estimateShipCost != null">
                estimate_ship_cost,
            </if>
            <if test="shipTrackNumber != null">
                ship_track_number,
            </if>
            <if test="shipOrderId != null">
                ship_order_id,
            </if>
            <if test="referenceId != null">
                reference_id,
            </if>
            <if test="warehouseShipException != null">
                warehouse_ship_exception,
            </if>
            <if test="operateStatus != null">
                operate_status,
            </if>
            <if test="operateOrderTrackId != null">
                operate_order_track_id,
            </if>
            <if test="operateSysOrderId != null">
                operate_sys_order_id,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="calculateFeeInfo != null">
                calculate_fee_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sysOrderId != null">
                #{sysOrderId,jdbcType=VARCHAR},
            </if>
            <if test="sourceOrderId != null">
                #{sourceOrderId,jdbcType=VARCHAR},
            </if>
            <if test="orderTrackId != null">
                #{orderTrackId,jdbcType=VARCHAR},
            </if>
            <if test="packageStatus != null">
                #{packageStatus,jdbcType=VARCHAR},
            </if>
            <if test="deliveryTime != null">
                #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryWarehouseId != null">
                #{deliveryWarehouseId,jdbcType=INTEGER},
            </if>
            <if test="deliveryWarehouseCode != null">
                #{deliveryWarehouseCode,jdbcType=VARCHAR},
            </if>
            <if test="deliveryWarehouse != null">
                #{deliveryWarehouse,jdbcType=VARCHAR},
            </if>
            <if test="shippingCarrierUsedCode != null">
                #{shippingCarrierUsedCode,jdbcType=VARCHAR},
            </if>
            <if test="shippingCarrierUsed != null">
                #{shippingCarrierUsed,jdbcType=VARCHAR},
            </if>
            <if test="deliveryMethodCode != null">
                #{deliveryMethodCode,jdbcType=VARCHAR},
            </if>
            <if test="deliveryMethod != null">
                #{deliveryMethod,jdbcType=VARCHAR},
            </if>
            <if test="logisticsStrategy != null">
                #{logisticsStrategy,jdbcType=VARCHAR},
            </if>
            <if test="amazonCarrierName != null">
                #{amazonCarrierName,jdbcType=VARCHAR},
            </if>
            <if test="amazonShippingMethod != null">
                #{amazonShippingMethod,jdbcType=VARCHAR},
            </if>
            <if test="ebayCarrierName != null">
                #{ebayCarrierName,jdbcType=VARCHAR},
            </if>
            <if test="actualShipCost != null">
                #{actualShipCost,jdbcType=DECIMAL},
            </if>
            <if test="additionalFreightRate != null">
                #{additionalFreightRate,jdbcType=DECIMAL},
            </if>
            <if test="estimateShipCost != null">
                #{estimateShipCost,jdbcType=DECIMAL},
            </if>
            <if test="shipTrackNumber != null">
                #{shipTrackNumber,jdbcType=VARCHAR},
            </if>
            <if test="shipOrderId != null">
                #{shipOrderId,jdbcType=VARCHAR},
            </if>
            <if test="referenceId != null">
                #{referenceId,jdbcType=VARCHAR},
            </if>
            <if test="warehouseShipException != null">
                #{warehouseShipException,jdbcType=VARCHAR},
            </if>
            <if test="operateStatus != null">
                #{operateStatus,jdbcType=VARCHAR},
            </if>
            <if test="operateOrderTrackId != null">
                #{operateOrderTrackId,jdbcType=VARCHAR},
            </if>
            <if test="operateSysOrderId != null">
                #{operateSysOrderId,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="calculateFeeInfo != null">
                #{calculateFeeInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        update tb_sys_order_package
        <set>
            <if test="sysOrderId != null">
                sys_order_id = #{sysOrderId,jdbcType=VARCHAR},
            </if>
            <if test="sourceOrderId != null">
                source_order_id = #{sourceOrderId,jdbcType=VARCHAR},
            </if>
            <if test="orderTrackId != null">
                order_track_id = #{orderTrackId,jdbcType=VARCHAR},
            </if>
            <if test="packageStatus != null">
                package_status = #{packageStatus,jdbcType=VARCHAR},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryWarehouseId != null">
                delivery_warehouse_id = #{deliveryWarehouseId,jdbcType=INTEGER},
            </if>
            <if test="deliveryWarehouseCode != null">
                delivery_warehouse_code = #{deliveryWarehouseCode,jdbcType=VARCHAR},
            </if>
            <if test="deliveryWarehouse != null">
                delivery_warehouse = #{deliveryWarehouse,jdbcType=VARCHAR},
            </if>
            <if test="shippingCarrierUsedCode != null">
                shipping_carrier_used_code = #{shippingCarrierUsedCode,jdbcType=VARCHAR},
            </if>
            <if test="shippingCarrierUsed != null">
                shipping_carrier_used = #{shippingCarrierUsed,jdbcType=VARCHAR},
            </if>
            <if test="deliveryMethodCode != null">
                delivery_method_code = #{deliveryMethodCode,jdbcType=VARCHAR},
            </if>
            <if test="deliveryMethod != null">
                delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
            </if>
            <if test="logisticsStrategy != null">
                logistics_strategy = #{logisticsStrategy,jdbcType=VARCHAR},
            </if>
            <if test="amazonCarrierName != null">
                amazon_carrier_name = #{amazonCarrierName,jdbcType=VARCHAR},
            </if>
            <if test="amazonShippingMethod != null">
                amazon_shipping_method = #{amazonShippingMethod,jdbcType=VARCHAR},
            </if>
            <if test="ebayCarrierName != null">
                ebay_carrier_name = #{ebayCarrierName,jdbcType=VARCHAR},
            </if>
            <if test="actualShipCost != null">
                actual_ship_cost = #{actualShipCost,jdbcType=DECIMAL},
            </if>
            <if test="additionalFreightRate != null">
                additional_freight_rate = #{additionalFreightRate,jdbcType=DECIMAL},
            </if>
            <if test="estimateShipCost != null">
                estimate_ship_cost = #{estimateShipCost,jdbcType=DECIMAL},
            </if>
            <if test="shipTrackNumber != null">
                ship_track_number = #{shipTrackNumber,jdbcType=VARCHAR},
            </if>
            <if test="shipOrderId != null">
                ship_order_id = #{shipOrderId,jdbcType=VARCHAR},
            </if>
            <if test="referenceId != null">
                reference_id = #{referenceId,jdbcType=VARCHAR},
            </if>
            <if test="warehouseShipException != null">
                warehouse_ship_exception = #{warehouseShipException,jdbcType=VARCHAR},
            </if>
            <if test="operateStatus != null">
                operate_status = #{operateStatus,jdbcType=VARCHAR},
            </if>
            <if test="operateOrderTrackId != null">
                operate_order_track_id = #{operateOrderTrackId,jdbcType=VARCHAR},
            </if>
            <if test="operateSysOrderId != null">
                operate_sys_order_id = #{operateSysOrderId,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="calculateFeeInfo != null">
                calculate_fee_info = #{calculateFeeInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        update tb_sys_order_package
        set sys_order_id = #{sysOrderId,jdbcType=VARCHAR},
            source_order_id = #{sourceOrderId,jdbcType=VARCHAR},
            order_track_id = #{orderTrackId,jdbcType=VARCHAR},
            package_status = #{packageStatus,jdbcType=VARCHAR},
            delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            delivery_warehouse_id = #{deliveryWarehouseId,jdbcType=INTEGER},
            delivery_warehouse_code = #{deliveryWarehouseCode,jdbcType=VARCHAR},
            delivery_warehouse = #{deliveryWarehouse,jdbcType=VARCHAR},
            shipping_carrier_used_code = #{shippingCarrierUsedCode,jdbcType=VARCHAR},
            shipping_carrier_used = #{shippingCarrierUsed,jdbcType=VARCHAR},
            delivery_method_code = #{deliveryMethodCode,jdbcType=VARCHAR},
            delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
            logistics_strategy = #{logisticsStrategy,jdbcType=VARCHAR},
            amazon_carrier_name = #{amazonCarrierName,jdbcType=VARCHAR},
            amazon_shipping_method = #{amazonShippingMethod,jdbcType=VARCHAR},
            ebay_carrier_name = #{ebayCarrierName,jdbcType=VARCHAR},
            actual_ship_cost = #{actualShipCost,jdbcType=DECIMAL},
            additional_freight_rate = #{additionalFreightRate,jdbcType=DECIMAL},
            estimate_ship_cost = #{estimateShipCost,jdbcType=DECIMAL},
            ship_track_number = #{shipTrackNumber,jdbcType=VARCHAR},
            ship_order_id = #{shipOrderId,jdbcType=VARCHAR},
            reference_id = #{referenceId,jdbcType=VARCHAR},
            warehouse_ship_exception = #{warehouseShipException,jdbcType=VARCHAR},
            operate_status = #{operateStatus,jdbcType=VARCHAR},
            operate_order_track_id = #{operateOrderTrackId,jdbcType=VARCHAR},
            operate_sys_order_id = #{operateSysOrderId,jdbcType=VARCHAR},
            is_show = #{isShow,jdbcType=VARCHAR},
            creater = #{creater,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modifier = #{modifier,jdbcType=VARCHAR},
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            calculate_fee_info = #{calculateFeeInfo,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.rondaful.cloud.transorder.entity.system.SysOrderPackage">
        update tb_sys_order_package
        set sys_order_id = #{sysOrderId,jdbcType=VARCHAR},
            source_order_id = #{sourceOrderId,jdbcType=VARCHAR},
            order_track_id = #{orderTrackId,jdbcType=VARCHAR},
            package_status = #{packageStatus,jdbcType=VARCHAR},
            delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            delivery_warehouse_id = #{deliveryWarehouseId,jdbcType=INTEGER},
            delivery_warehouse_code = #{deliveryWarehouseCode,jdbcType=VARCHAR},
            delivery_warehouse = #{deliveryWarehouse,jdbcType=VARCHAR},
            shipping_carrier_used_code = #{shippingCarrierUsedCode,jdbcType=VARCHAR},
            shipping_carrier_used = #{shippingCarrierUsed,jdbcType=VARCHAR},
            delivery_method_code = #{deliveryMethodCode,jdbcType=VARCHAR},
            delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
            logistics_strategy = #{logisticsStrategy,jdbcType=VARCHAR},
            amazon_carrier_name = #{amazonCarrierName,jdbcType=VARCHAR},
            amazon_shipping_method = #{amazonShippingMethod,jdbcType=VARCHAR},
            ebay_carrier_name = #{ebayCarrierName,jdbcType=VARCHAR},
            actual_ship_cost = #{actualShipCost,jdbcType=DECIMAL},
            additional_freight_rate = #{additionalFreightRate,jdbcType=DECIMAL},
            estimate_ship_cost = #{estimateShipCost,jdbcType=DECIMAL},
            ship_track_number = #{shipTrackNumber,jdbcType=VARCHAR},
            ship_order_id = #{shipOrderId,jdbcType=VARCHAR},
            reference_id = #{referenceId,jdbcType=VARCHAR},
            warehouse_ship_exception = #{warehouseShipException,jdbcType=VARCHAR},
            operate_status = #{operateStatus,jdbcType=VARCHAR},
            operate_order_track_id = #{operateOrderTrackId,jdbcType=VARCHAR},
            operate_sys_order_id = #{operateSysOrderId,jdbcType=VARCHAR},
            is_show = #{isShow,jdbcType=VARCHAR},
            creater = #{creater,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modifier = #{modifier,jdbcType=VARCHAR},
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <select id="page" parameterType="com.rondaful.cloud.transorder.entity.system.SysOrderPackage" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from tb_sys_order_package
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null and id != ''">
                 and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="sysOrderId != null and sysOrderId != ''">
                 and sys_order_id = #{sysOrderId,jdbcType=VARCHAR}
            </if>
            <if test="sourceOrderId != null and sourceOrderId != ''">
                 and source_order_id = #{sourceOrderId,jdbcType=VARCHAR}
            </if>
            <if test="orderTrackId != null and orderTrackId != ''">
                 and order_track_id = #{orderTrackId,jdbcType=VARCHAR}
            </if>
            <if test="packageStatus != null and packageStatus != ''">
                 and package_status = #{packageStatus,jdbcType=VARCHAR}
            </if>
            <if test="deliveryTime != null and deliveryTime != ''">
                 and delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
            </if>
            <if test="deliveryWarehouseId != null and deliveryWarehouseId != ''">
                 and delivery_warehouse_id = #{deliveryWarehouseId,jdbcType=INTEGER}
            </if>
            <if test="deliveryWarehouseCode != null and deliveryWarehouseCode != ''">
                 and delivery_warehouse_code = #{deliveryWarehouseCode,jdbcType=VARCHAR}
            </if>
            <if test="deliveryWarehouse != null and deliveryWarehouse != ''">
                 and delivery_warehouse = #{deliveryWarehouse,jdbcType=VARCHAR}
            </if>
            <if test="shippingCarrierUsedCode != null and shippingCarrierUsedCode != ''">
                 and shipping_carrier_used_code = #{shippingCarrierUsedCode,jdbcType=VARCHAR}
            </if>
            <if test="shippingCarrierUsed != null and shippingCarrierUsed != ''">
                 and shipping_carrier_used = #{shippingCarrierUsed,jdbcType=VARCHAR}
            </if>
            <if test="deliveryMethodCode != null and deliveryMethodCode != ''">
                 and delivery_method_code = #{deliveryMethodCode,jdbcType=VARCHAR}
            </if>
            <if test="deliveryMethod != null and deliveryMethod != ''">
                 and delivery_method = #{deliveryMethod,jdbcType=VARCHAR}
            </if>
            <if test="logisticsStrategy != null and logisticsStrategy != ''">
                 and logistics_strategy = #{logisticsStrategy,jdbcType=VARCHAR}
            </if>
            <if test="amazonCarrierName != null and amazonCarrierName != ''">
                 and amazon_carrier_name = #{amazonCarrierName,jdbcType=VARCHAR}
            </if>
            <if test="amazonShippingMethod != null and amazonShippingMethod != ''">
                 and amazon_shipping_method = #{amazonShippingMethod,jdbcType=VARCHAR}
            </if>
            <if test="ebayCarrierName != null and ebayCarrierName != ''">
                 and ebay_carrier_name = #{ebayCarrierName,jdbcType=VARCHAR}
            </if>
            <if test="actualShipCost != null and actualShipCost != ''">
                 and actual_ship_cost = #{actualShipCost,jdbcType=DECIMAL}
            </if>
            <if test="additionalFreightRate != null and additionalFreightRate != ''">
                 and additional_freight_rate = #{additionalFreightRate,jdbcType=DECIMAL}
            </if>
            <if test="estimateShipCost != null and estimateShipCost != ''">
                 and estimate_ship_cost = #{estimateShipCost,jdbcType=DECIMAL}
            </if>
            <if test="shipTrackNumber != null and shipTrackNumber != ''">
                 and ship_track_number = #{shipTrackNumber,jdbcType=VARCHAR}
            </if>
            <if test="shipOrderId != null and shipOrderId != ''">
                 and ship_order_id = #{shipOrderId,jdbcType=VARCHAR}
            </if>
            <if test="referenceId != null and referenceId != ''">
                 and reference_id = #{referenceId,jdbcType=VARCHAR}
            </if>
            <if test="warehouseShipException != null and warehouseShipException != ''">
                 and warehouse_ship_exception = #{warehouseShipException,jdbcType=VARCHAR}
            </if>
            <if test="operateStatus != null and operateStatus != ''">
                 and operate_status = #{operateStatus,jdbcType=VARCHAR}
            </if>
            <if test="operateOrderTrackId != null and operateOrderTrackId != ''">
                 and operate_order_track_id = #{operateOrderTrackId,jdbcType=VARCHAR}
            </if>
            <if test="operateSysOrderId != null and operateSysOrderId != ''">
                 and operate_sys_order_id = #{operateSysOrderId,jdbcType=VARCHAR}
            </if>
            <if test="isShow != null and isShow != ''">
                 and is_show = #{isShow,jdbcType=VARCHAR}
            </if>
            <if test="creater != null and creater != ''">
                 and creater = #{creater,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != ''">
                 and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifier != null and modifier != ''">
                 and modifier = #{modifier,jdbcType=VARCHAR}
            </if>
            <if test="modifiedTime != null and modifiedTime != ''">
                 and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="calculateFeeInfo != null and calculateFeeInfo != ''">
                 and calculate_fee_info = #{calculateFeeInfo,jdbcType=LONGVARCHAR}
            </if>
        </trim>
    </select>
</mapper>