<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rondaful.cloud.seller.mapper.AliexpressCategoryAttributeKeyMapper">
    
    <resultMap id="BaseResultMap" type="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="attribute_id" jdbcType="BIGINT" property="attributeId" />
        <result column="empower_id" jdbcType="BIGINT" property="empowerId" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="attribute_show_type_value" jdbcType="VARCHAR" property="attributeShowTypeValue" />
        <result column="customized_name" jdbcType="BIT" property="customizedName" />
        <result column="customized_pic" jdbcType="BIT" property="customizedPic" />
        <result column="input_type" jdbcType="VARCHAR" property="inputType" />
        <result column="key_attribute" jdbcType="BIT" property="keyAttribute" />
        <result column="required" jdbcType="BIT" property="required" />
        <result column="sku" jdbcType="BIT" property="sku" />
        <result column="sku_style_value" jdbcType="VARCHAR" property="skuStyleValue" />
        <result column="spec" jdbcType="INTEGER" property="spec" />
        <result column="units" jdbcType="VARCHAR" property="units" />
        <result column="visible" jdbcType="BIT" property="visible" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, category_id, attribute_id, empower_id, create_id, create_time, status, attribute_show_type_value, 
        customized_name, customized_pic, input_type, key_attribute, required, sku, sku_style_value, 
        spec, units, visible
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from aliexpress_category_attribute_key
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from aliexpress_category_attribute_key
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <insert id="insert" parameterType="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey">
        insert into aliexpress_category_attribute_key (id, category_id, attribute_id, 
            empower_id, create_id, create_time, 
            status, attribute_show_type_value, customized_name, 
            customized_pic, input_type, key_attribute, 
            required, sku, sku_style_value, 
            spec, units, visible)
        values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{attributeId,jdbcType=BIGINT}, 
            #{empowerId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=INTEGER}, #{attributeShowTypeValue,jdbcType=VARCHAR}, #{customizedName,jdbcType=BIT}, 
            #{customizedPic,jdbcType=BIT}, #{inputType,jdbcType=VARCHAR}, #{keyAttribute,jdbcType=BIT}, 
            #{required,jdbcType=BIT}, #{sku,jdbcType=BIT}, #{skuStyleValue,jdbcType=VARCHAR}, 
            #{spec,jdbcType=INTEGER}, #{units,jdbcType=VARCHAR}, #{visible,jdbcType=BIT})
    </insert>
    
    <insert id="insertSelective" parameterType="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey">
        insert into aliexpress_category_attribute_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="attributeId != null">
                attribute_id,
            </if>
            <if test="empowerId != null">
                empower_id,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="attributeShowTypeValue != null">
                attribute_show_type_value,
            </if>
            <if test="customizedName != null">
                customized_name,
            </if>
            <if test="customizedPic != null">
                customized_pic,
            </if>
            <if test="inputType != null">
                input_type,
            </if>
            <if test="keyAttribute != null">
                key_attribute,
            </if>
            <if test="required != null">
                required,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="skuStyleValue != null">
                sku_style_value,
            </if>
            <if test="spec != null">
                spec,
            </if>
            <if test="units != null">
                units,
            </if>
            <if test="visible != null">
                visible,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="attributeId != null">
                #{attributeId,jdbcType=BIGINT},
            </if>
            <if test="empowerId != null">
                #{empowerId,jdbcType=BIGINT},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="attributeShowTypeValue != null">
                #{attributeShowTypeValue,jdbcType=VARCHAR},
            </if>
            <if test="customizedName != null">
                #{customizedName,jdbcType=BIT},
            </if>
            <if test="customizedPic != null">
                #{customizedPic,jdbcType=BIT},
            </if>
            <if test="inputType != null">
                #{inputType,jdbcType=VARCHAR},
            </if>
            <if test="keyAttribute != null">
                #{keyAttribute,jdbcType=BIT},
            </if>
            <if test="required != null">
                #{required,jdbcType=BIT},
            </if>
            <if test="sku != null">
                #{sku,jdbcType=BIT},
            </if>
            <if test="skuStyleValue != null">
                #{skuStyleValue,jdbcType=VARCHAR},
            </if>
            <if test="spec != null">
                #{spec,jdbcType=INTEGER},
            </if>
            <if test="units != null">
                #{units,jdbcType=VARCHAR},
            </if>
            <if test="visible != null">
                #{visible,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey">
        update aliexpress_category_attribute_key
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="attributeId != null">
                attribute_id = #{attributeId,jdbcType=BIGINT},
            </if>
            <if test="empowerId != null">
                empower_id = #{empowerId,jdbcType=BIGINT},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="attributeShowTypeValue != null">
                attribute_show_type_value = #{attributeShowTypeValue,jdbcType=VARCHAR},
            </if>
            <if test="customizedName != null">
                customized_name = #{customizedName,jdbcType=BIT},
            </if>
            <if test="customizedPic != null">
                customized_pic = #{customizedPic,jdbcType=BIT},
            </if>
            <if test="inputType != null">
                input_type = #{inputType,jdbcType=VARCHAR},
            </if>
            <if test="keyAttribute != null">
                key_attribute = #{keyAttribute,jdbcType=BIT},
            </if>
            <if test="required != null">
                required = #{required,jdbcType=BIT},
            </if>
            <if test="sku != null">
                sku = #{sku,jdbcType=BIT},
            </if>
            <if test="skuStyleValue != null">
                sku_style_value = #{skuStyleValue,jdbcType=VARCHAR},
            </if>
            <if test="spec != null">
                spec = #{spec,jdbcType=INTEGER},
            </if>
            <if test="units != null">
                units = #{units,jdbcType=VARCHAR},
            </if>
            <if test="visible != null">
                visible = #{visible,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey">
        update aliexpress_category_attribute_key
        set category_id = #{categoryId,jdbcType=BIGINT},
            attribute_id = #{attributeId,jdbcType=BIGINT},
            empower_id = #{empowerId,jdbcType=BIGINT},
            create_id = #{createId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            attribute_show_type_value = #{attributeShowTypeValue,jdbcType=VARCHAR},
            customized_name = #{customizedName,jdbcType=BIT},
            customized_pic = #{customizedPic,jdbcType=BIT},
            input_type = #{inputType,jdbcType=VARCHAR},
            key_attribute = #{keyAttribute,jdbcType=BIT},
            required = #{required,jdbcType=BIT},
            sku = #{sku,jdbcType=BIT},
            sku_style_value = #{skuStyleValue,jdbcType=VARCHAR},
            spec = #{spec,jdbcType=INTEGER},
            units = #{units,jdbcType=VARCHAR},
            visible = #{visible,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <select id="page" parameterType="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from aliexpress_category_attribute_key
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null and id != ''">
                 and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="categoryId != null and categoryId != ''">
                 and category_id = #{categoryId,jdbcType=BIGINT}
            </if>
            <if test="attributeId != null and attributeId != ''">
                 and attribute_id = #{attributeId,jdbcType=BIGINT}
            </if>
            <if test="empowerId != null and empowerId != ''">
                 and empower_id = #{empowerId,jdbcType=BIGINT}
            </if>
            <if test="createId != null and createId != ''">
                 and create_id = #{createId,jdbcType=BIGINT}
            </if>
            <if test="createTime != null and createTime != ''">
                 and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null and status != ''">
                 and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="attributeShowTypeValue != null and attributeShowTypeValue != ''">
                 and attribute_show_type_value = #{attributeShowTypeValue,jdbcType=VARCHAR}
            </if>
            <if test="customizedName != null and customizedName != ''">
                 and customized_name = #{customizedName,jdbcType=BIT}
            </if>
            <if test="customizedPic != null and customizedPic != ''">
                 and customized_pic = #{customizedPic,jdbcType=BIT}
            </if>
            <if test="inputType != null and inputType != ''">
                 and input_type = #{inputType,jdbcType=VARCHAR}
            </if>
            <if test="keyAttribute != null and keyAttribute != ''">
                 and key_attribute = #{keyAttribute,jdbcType=BIT}
            </if>
            <if test="required != null and required != ''">
                 and required = #{required,jdbcType=BIT}
            </if>
            <if test="sku != null and sku != ''">
                 and sku = #{sku,jdbcType=BIT}
            </if>
            <if test="skuStyleValue != null and skuStyleValue != ''">
                 and sku_style_value = #{skuStyleValue,jdbcType=VARCHAR}
            </if>
            <if test="spec != null and spec != ''">
                 and spec = #{spec,jdbcType=INTEGER}
            </if>
            <if test="units != null and units != ''">
                 and units = #{units,jdbcType=VARCHAR}
            </if>
            <if test="visible != null and visible != ''">
                 and visible = #{visible,jdbcType=BIT}
            </if>
        </trim>
    </select>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="com.rondaful.cloud.seller.entity.AliexpressCategoryAttributeKey">
        insert into aliexpress_category_attribute_key (category_id, attribute_id,
        empower_id, create_id, create_time,
        status, attribute_show_type_value, customized_name,
        customized_pic, input_type, key_attribute,
        required, sku, sku_style_value,
        spec, units, visible)
        values
        <foreach collection="list" item="item" index="index" separator ="," >
            (#{item.categoryId,jdbcType=BIGINT}, #{item.attributeId,jdbcType=BIGINT},
            #{item.empowerId,jdbcType=BIGINT}, #{item.createId,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.status,jdbcType=INTEGER} ,#{item.attributeShowTypeValue,jdbcType=VARCHAR}, #{item.customizedName,jdbcType=BIT},
            #{item.customizedPic,jdbcType=BIT}, #{item.inputType,jdbcType=VARCHAR}, #{item.keyAttribute,jdbcType=BIT},
            #{item.required,jdbcType=BIT}, #{item.sku,jdbcType=BIT}, #{item.skuStyleValue,jdbcType=VARCHAR},
            #{item.spec,jdbcType=INTEGER}, #{item.units,jdbcType=VARCHAR}, #{item.visible,jdbcType=BIT})
        </foreach>
    </insert>

    <update id="updateCategoryAttributeKeyByCategoryId" parameterType="java.lang.Long">
        update aliexpress_category_attribute_key
        set status = 1
        where category_id = #{categoryId,jdbcType=BIGINT}
    </update>
    <delete id="deleteByCategoryAttributeKey">
        delete from aliexpress_category_attribute_key
        <trim prefix="where" prefixOverrides="and">
            <if test="empowerId != null and empowerId != ''">
                and empower_id = #{empowerId,jdbcType=BIGINT}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId,jdbcType=BIGINT}
            </if>
        </trim>
    </delete>

</mapper>