<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rondaful.cloud.seller.mapper.AliexpressPublishListingAttributeMapper">
    
    <resultMap id="BaseResultMap" type="com.rondaful.cloud.seller.entity.AliexpressPublishListingAttribute">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="publish_listing_id" jdbcType="BIGINT" property="publishListingId" />
        <result column="value_type" jdbcType="INTEGER" property="valueType" />
        <result column="category_attribute_id" jdbcType="BIGINT" property="categoryAttributeId" />
        <result column="attribute_code" jdbcType="VARCHAR" property="attributeCode" />
        <result column="selection_mode" jdbcType="VARCHAR" property="selectionMode" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="version" jdbcType="INTEGER" property="version" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, publish_listing_id, value_type, category_attribute_id, attribute_code, selection_mode, 
        create_time, sort, version
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from aliexpress_publish_listing_attribute
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from aliexpress_publish_listing_attribute
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <insert id="insert" parameterType="com.rondaful.cloud.seller.entity.AliexpressPublishListingAttribute">
        insert into aliexpress_publish_listing_attribute (id, publish_listing_id, value_type, 
            category_attribute_id, attribute_code, selection_mode, 
            create_time, sort, version
            )
        values (#{id,jdbcType=BIGINT}, #{publishListingId,jdbcType=BIGINT}, #{valueType,jdbcType=INTEGER}, 
            #{categoryAttributeId,jdbcType=BIGINT}, #{attributeCode,jdbcType=VARCHAR}, #{selectionMode,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
            )
    </insert>
    
    <insert id="insertSelective" parameterType="com.rondaful.cloud.seller.entity.AliexpressPublishListingAttribute">
        insert into aliexpress_publish_listing_attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="publishListingId != null">
                publish_listing_id,
            </if>
            <if test="valueType != null">
                value_type,
            </if>
            <if test="categoryAttributeId != null">
                category_attribute_id,
            </if>
            <if test="attributeCode != null">
                attribute_code,
            </if>
            <if test="selectionMode != null">
                selection_mode,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="publishListingId != null">
                #{publishListingId,jdbcType=BIGINT},
            </if>
            <if test="valueType != null">
                #{valueType,jdbcType=INTEGER},
            </if>
            <if test="categoryAttributeId != null">
                #{categoryAttributeId,jdbcType=BIGINT},
            </if>
            <if test="attributeCode != null">
                #{attributeCode,jdbcType=VARCHAR},
            </if>
            <if test="selectionMode != null">
                #{selectionMode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.rondaful.cloud.seller.entity.AliexpressPublishListingAttribute">
        update aliexpress_publish_listing_attribute
        <set>
            <if test="publishListingId != null">
                publish_listing_id = #{publishListingId,jdbcType=BIGINT},
            </if>
            <if test="valueType != null">
                value_type = #{valueType,jdbcType=INTEGER},
            </if>
            <if test="categoryAttributeId != null">
                category_attribute_id = #{categoryAttributeId,jdbcType=BIGINT},
            </if>
            <if test="attributeCode != null">
                attribute_code = #{attributeCode,jdbcType=VARCHAR},
            </if>
            <if test="selectionMode != null">
                selection_mode = #{selectionMode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER} + 1,
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        <if test="version != null">
            and version = #{version,jdbcType=BIGINT}
        </if>
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.rondaful.cloud.seller.entity.AliexpressPublishListingAttribute">
        update aliexpress_publish_listing_attribute
        set publish_listing_id = #{publishListingId,jdbcType=BIGINT},
            value_type = #{valueType,jdbcType=INTEGER},
            category_attribute_id = #{categoryAttributeId,jdbcType=BIGINT},
            attribute_code = #{attributeCode,jdbcType=VARCHAR},
            selection_mode = #{selectionMode,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            sort = #{sort,jdbcType=INTEGER},
            version = #{version,jdbcType=INTEGER} + 1
        where id = #{id,jdbcType=BIGINT}
        and version = #{version,jdbcType=BIGINT}
    </update>
    
    <select id="page" parameterType="com.rondaful.cloud.seller.entity.AliexpressPublishListingAttribute" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from aliexpress_publish_listing_attribute
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null and id != ''">
                 and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="publishListingId != null and publishListingId != ''">
                 and publish_listing_id = #{publishListingId,jdbcType=BIGINT}
            </if>
            <if test="valueType != null and valueType != ''">
                 and value_type = #{valueType,jdbcType=INTEGER}
            </if>
            <if test="categoryAttributeId != null and categoryAttributeId != ''">
                 and category_attribute_id = #{categoryAttributeId,jdbcType=BIGINT}
            </if>
            <if test="attributeCode != null and attributeCode != ''">
                 and attribute_code = #{attributeCode,jdbcType=VARCHAR}
            </if>
            <if test="selectionMode != null and selectionMode != ''">
                 and selection_mode = #{selectionMode,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != ''">
                 and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="sort != null and sort != ''">
                 and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="version != null and version != ''">
                 and version = #{version,jdbcType=INTEGER}
            </if>
        </trim>
    </select>
    <select id="getPublishListingAttributeByPublishListingId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from aliexpress_publish_listing_attribute
        where publish_listing_id = #{publishListingId,jdbcType=BIGINT}
    </select>
    <select id="getPublishListingAttributeByPublishListingIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from aliexpress_publish_listing_attribute
        where publish_listing_id in
        <foreach collection="publishListingIds" item="publishListingId" separator="," open="(" close=")">
            #{publishListingId,jdbcType=BIGINT}
        </foreach>
    </select>


    <delete id="deleteByListingId" parameterType="java.lang.Long">
        delete from aliexpress_publish_listing_attribute
        where publish_listing_id = #{publishListingId,jdbcType=BIGINT}
    </delete>

</mapper>