<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rondaful.cloud.seller.mapper.EbayPublishListingShippingMapper">
    
  <resultMap id="BaseResultMap" type="com.rondaful.cloud.seller.entity.EbayPublishListingShipping">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="listing_id" jdbcType="INTEGER" property="listingId" />
        <result column="global_shipping" jdbcType="BIT" property="globalShipping" />
        <result column="exclude_ship_to_location" jdbcType="VARCHAR" property="excludeShipToLocation" />
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
        <result column="payment_instructions" jdbcType="VARCHAR" property="paymentInstructions" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, listing_id, global_shipping, exclude_ship_to_location, creation_time, payment_instructions
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from ebay_publish_listing_shipping
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from ebay_publish_listing_shipping
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingShipping">
        insert into ebay_publish_listing_shipping (id, listing_id, global_shipping, 
            exclude_ship_to_location, creation_time, 
            payment_instructions )
        values (#{id,jdbcType=INTEGER}, #{listingId,jdbcType=INTEGER}, #{globalShipping,jdbcType=BIT}, 
            #{excludeShipToLocation,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
            #{paymentInstructions,jdbcType=VARCHAR}})
    </insert>
    
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingShipping">
        insert into ebay_publish_listing_shipping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="listingId != null">
                listing_id,
            </if>
            <if test="globalShipping != null">
                global_shipping,
            </if>
            <if test="excludeShipToLocation != null">
                exclude_ship_to_location,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="paymentInstructions != null">
                payment_instructions,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="listingId != null">
                #{listingId,jdbcType=INTEGER},
            </if>
            <if test="globalShipping != null">
                #{globalShipping,jdbcType=BIT},
            </if>
            <if test="excludeShipToLocation != null">
                #{excludeShipToLocation,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentInstructions != null">
                #{paymentInstructions,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingShipping">
        update ebay_publish_listing_shipping
        <set>
            <if test="listingId != null">
                listing_id = #{listingId,jdbcType=INTEGER},
            </if>
            <if test="globalShipping != null">
                global_shipping = #{globalShipping,jdbcType=BIT},
            </if>
            <if test="excludeShipToLocation != null">
                exclude_ship_to_location = #{excludeShipToLocation,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentInstructions != null">
                payment_instructions = #{paymentInstructions,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingShipping">
        update ebay_publish_listing_shipping
        set listing_id = #{listingId,jdbcType=INTEGER},
            global_shipping = #{globalShipping,jdbcType=BIT},
            exclude_ship_to_location = #{excludeShipToLocation,jdbcType=VARCHAR},
            creation_time = #{creationTime,jdbcType=TIMESTAMP},
            payment_instructions = #{paymentInstructions,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="page" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingShipping" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from ebay_publish_listing_shipping
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                 and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="listingId != null">
                 and listing_id = #{listingId,jdbcType=INTEGER}
            </if>
            <if test="globalShipping != null">
                 and global_shipping = #{globalShipping,jdbcType=BIT}
            </if>
            <if test="excludeShipToLocation != null">
                 and exclude_ship_to_location = #{excludeShipToLocation,jdbcType=VARCHAR}
            </if>
            <if test="creationTime != null">
                 and creation_time = #{creationTime,jdbcType=TIMESTAMP}
            </if>
            <if test="paymentInstructions != null">
                 and payment_instructions = #{paymentInstructions,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <delete id="deleteByListingId" parameterType="java.lang.Integer">
        delete from ebay_publish_listing_shipping
        where listing_id = #{listingId,jdbcType=INTEGER}
    </delete>
</mapper>