<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rondaful.cloud.seller.mapper.EbayPublishListingVariantValueMapper">
    
    <resultMap id="BaseResultMap" type="com.rondaful.cloud.seller.entity.EbayPublishListingVariantValue">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="variant_id" jdbcType="INTEGER" property="variantId" />
        <result column="listing_id" jdbcType="INTEGER" property="listingId" />
        <result column="variant_value" jdbcType="VARCHAR" property="variantValue" />
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
        <result column="variant_key" jdbcType="VARCHAR" property="variantKey" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, variant_id, listing_id, variant_value, creation_time, variant_key
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from ebay_publish_listing_variant_value
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from ebay_publish_listing_variant_value
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingVariantValue">
        insert into ebay_publish_listing_variant_value (id, variant_id, listing_id, 
            variant_value, creation_time, variant_key
            )
        values (#{id,jdbcType=INTEGER}, #{variantId,jdbcType=INTEGER}, #{listingId,jdbcType=INTEGER}, 
            #{variantValue,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{variantKey,jdbcType=VARCHAR}
            )
    </insert>
    
    <insert id="insertSelective" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingVariantValue">
        insert into ebay_publish_listing_variant_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="variantId != null">
                variant_id,
            </if>
            <if test="listingId != null">
                listing_id,
            </if>
            <if test="variantValue != null">
                variant_value,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="variantKey != null">
                variant_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="variantId != null">
                #{variantId,jdbcType=INTEGER},
            </if>
            <if test="listingId != null">
                #{listingId,jdbcType=INTEGER},
            </if>
            <if test="variantValue != null">
                #{variantValue,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="variantKey != null">
                #{variantKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingVariantValue">
        update ebay_publish_listing_variant_value
        <set>
            <if test="variantId != null">
                variant_id = #{variantId,jdbcType=INTEGER},
            </if>
            <if test="listingId != null">
                listing_id = #{listingId,jdbcType=INTEGER},
            </if>
            <if test="variantValue != null">
                variant_value = #{variantValue,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="variantKey != null">
                variant_key = #{variantKey,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingVariantValue">
        update ebay_publish_listing_variant_value
        set variant_id = #{variantId,jdbcType=INTEGER},
            listing_id = #{listingId,jdbcType=INTEGER},
            variant_value = #{variantValue,jdbcType=VARCHAR},
            creation_time = #{creationTime,jdbcType=TIMESTAMP},
            variant_key = #{variantKey,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="page" parameterType="com.rondaful.cloud.seller.entity.EbayPublishListingVariantValue" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from ebay_publish_listing_variant_value
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                 and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="variantId != null">
                 and variant_id = #{variantId,jdbcType=INTEGER}
            </if>
            <if test="listingId != null">
                 and listing_id = #{listingId,jdbcType=INTEGER}
            </if>
            <if test="variantValue != null">
                 and variant_value = #{variantValue,jdbcType=VARCHAR}
            </if>
            <if test="creationTime != null">
                 and creation_time = #{creationTime,jdbcType=TIMESTAMP}
            </if>
            <if test="variantKey != null">
                 and variant_key = #{variantKey,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

      <delete id="deleteByValue" parameterType="java.lang.Integer">
        delete from ebay_publish_listing_variant_value
        where listing_id = #{listingId,jdbcType=INTEGER}
    </delete>
</mapper>