<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>  
    <properties>  
        <property name="dialect" value="mysql" />  
    </properties>  
    <settings>  
        <setting name="logImpl" value="SLF4J" />
    </settings>
    <plugins>  
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">  
	        <!-- 方言，4.0.0以后的版本支持自动识别使用的数据库，可以不用配置 -->  
	        <!-- <property name="dialect" value="mysql"/> -->  
	        <!-- 该参数默认为false，设置为true时，使用RowBounds分页会进行count查询 -->  
	        <property name="rowBoundsWithCount" value="true"/>  
	    </plugin>  
	</plugins>  
</configuration>