<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rondaful.cloud.commodity.mapper.SellerAuthMapper">
  <resultMap id="BaseResultMap" type="com.rondaful.cloud.commodity.entity.SellerAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, seller_id, app_key, app_secret, update_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_seller_auth
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectBySellerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_seller_auth
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </select>
  
  <insert id="insert" parameterType="com.rondaful.cloud.commodity.entity.SellerAuth">
    insert into t_seller_auth (id, seller_id, app_key, 
      app_secret, update_time)
    values (#{id,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{appKey,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.rondaful.cloud.commodity.entity.SellerAuth">
    update t_seller_auth
    <set>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="appKey != null">
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.rondaful.cloud.commodity.entity.SellerAuth">
    update t_seller_auth
    set seller_id = #{sellerId,jdbcType=BIGINT},
      app_key = #{appKey,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>